<div class="container">
    <h1>Submit Link</h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="post" class="bordered"> 
                <div class="form-group" id="linkAddressGroup">
                    <label for="linkAddress">Link</label>
                    <input type="url" class="form-control" id="linkAddress"
                           required="true" placeholder="http://" onchange="validateForm()"
                           oninput="validateForm()" aria-described-by="linkAddressStatus">
                    <span class="glyphicon glyphicon-ok form-control-feedback hidden form_success" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-remove form-control-feedback hidden form_error" aria-hidden="true"></span>
                            <span id="linkAddressStatus" class="sr-only hidden">(empty)</span>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="tw"> Trigger Warning
                    </label>
                </div>
                <div class="form-group">
                    <label for="triggerContent">Trigger Warnings</label>
                    <input type="text" class="form-control" id="triggerContent" placeholder="NSFW, abuse, rape...">
                </div>
                <div class="form-group" id="customSlugGroup">
                    <label for="customSlug">Custom Slug</label>
                    <input type="" class="form-control" id="customSlug" pattern="^[a-zA-Z0-9\-]+$"
                           oninput="validateForm()" onchange="validateForm()" aria-described-by="customSlugStatus">
                    <span class="glyphicon glyphicon-ok form-control-feedback hidden form_success" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-remove form-control-feedback hidden form_error" aria-hidden="true"></span>
                    <span id="linkAddressStatus" class="sr-only hidden">(empty)</span>
                </div>
                <button type="submit" class="btn btn-default">Send Link</button>
            </form>
        </div>
    </div>
    <div class="col-md-2" ></div>
</div>

<script type="text/javascript">
 function validateForm () {
     if ($('#linkAddress')[0].validity.valid) {
         $('#linkAddressGroup').addClass("has-feedback has-success").removeClass('has-error');
                 $('#linkAddressGroup .form_success').removeClass("hidden");
         $('#linkAddressGroup .form_error').addClass("hidden");
         $('#linkAddressStatus').text('(success)');
     } else {
         $('#linkAddressGroup').removeClass("has-success").addClass('has-feedback has-error');
         $('#linkAddressGroup .form_success').addClass("hidden");
         $('#linkAddressGroup .form_error').removeClass("hidden");
         $('#linkAddressStatus').text('(error)');
     }
     if ($('#customSlug')[0].validity.valid) {
         $('#customSlugGroup').addClass("has-feedback has-success").removeClass('has-error');
         $('#customSlugGroup .form_success').removeClass("hidden");
         $('#customSlugGroup .form_error').addClass("hidden");
         $('#customSlugStatus').text('(success)');
     } else {
         $('#customSlugGroup').removeClass("has-success").addClass('has-feedback has-error');
         $('#customSlugGroup .form_success').addClass("hidden");
         $('#customSlugGroup .form_error').removeClass("hidden");
         $('#customSlugStatus').text('(error)');
     }
 }
</script>

        
