<html>
    <head>
        <title>{{site_name}} - linkshortener</title>
        
    </head>
    <body>
        <h1>This link has been marked as possibly triggering or NSFW for the following reason</h1>
        <h2>{{triggerContent}}</h2>

        <p>URL <code>{{link}}</code></p>

        <ul>
            <li><a href="javascript:window.history.back()">Go back</a></li>
            <li><a href="{{link}}">Go to the page</a></li>
        </ul>
    </body>
</html>
